# XC2C256. JP7 -> P38 (XCCLK). LD2 = P92 active low.
# Digilent J4-5 / PA35 = uart_rx (P142). Digilent J4-6 / PA36 = uart_tx (P140).
NET "clk" LOC = "P38";
NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 542.535 ns;
NET "led" LOC = "P92";
NET "led" IOSTANDARD = LVCMOS33;
NET "uart_rx" LOC = "P142";
NET "uart_rx" IOSTANDARD = LVCMOS33;
NET "uart_rx" PULLUP;
NET "uart_tx" LOC = "P140";
NET "uart_tx" IOSTANDARD = LVCMOS33;
